body {
  min-height: 2000px;
   background-image: url("https://preview.ibb.co/cZ1HOk/bg.jpg");
  /* Full height */
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coloring{
    color: white;
}

.img-circle {
    border-radius: 50%;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/*Textarea not resizeable*/
textarea {
    resize:none
}
