<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">JS-LAB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
        <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
        <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
        <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
        <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
        <li class="active"><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
      </ul>
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <select id="my-select" type="text" class="form-control" placeholder="Search"></select>
        </div>
        <button id="themebtn" type="submit" class="btn btn-default">Change Theme</button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>