{% extends "base.html" %}
{% block content %}
<style>

</style>

<div class="text">
<h3>Hi all, This is my complete biodata</h3>

<table align="center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
<div/>

{% endblock %}
