{% extends "base.html" %}
{% block content %}
{% load static %} 

	<div class="text" style="background-color:rgba(0, 0, 0, 0.25)">
	<h1 style="font-size:50px">Hello, this is {{ name }}.</h1>
    <p> {{ content }}.</p>
</div>



{% endblock %}